[user]
	email = git@guezey.me
	name = Ali Emir Güzey
[init]
	defaultBranch = main
[credential "https://github.com"]
        helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
[alias]
	co = checkout
	lo = log --oneline
	br = branch
	st = status
	cm = commit
